<ion-header>
  <ion-toolbar>
    <ion-title slot="end">
      <div class="preview">
        <ion-avatar (click)="changeImage()">
          <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" alt="">
          <ng-template #placeholder_avatar>
            <ion-icon name="person"></ion-icon>
          </ng-template>
        </ion-avatar>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>



</ion-content>
