<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
    [formGroup]="cadastroForm"
    #cadastroFormDirective="ngForm"
    (ngSubmit)="registra()"

  >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input
          placeholder="nome"
          inputmode="text"
          clearInput="true"
          formControlName="nome"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CPF</ion-label>
        <ion-input
          placeholder="CPF"
          inputmode="text"
          clearInput="true"
          formControlName="cpf"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input
          (keyup)="verificaSenha()"
          placeholder="senha"
          inputmode="text"
          clearInput="true"
          formControlName="senha"
          type="password"
          required
        ></ion-input>
        <ion-note slot="error" *ngIf="(senha!.dirty || senha!.touched) && senha!.errors">Senha Inválida</ion-note>
        <ion-note slot="error" *ngIf="!statusSenha">As senhas não são iguais</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirme sua Senha</ion-label>
        <ion-input
          (keyup)="verificaSenha()"
          placeholder="Digite novamente sua senha"
          inputmode="text"
          clearInput="true"
          formControlName="confsenha"
          type="password"
          required
        ></ion-input>
        <ion-note slot="error" *ngIf="(senha!.dirty || senha!.touched) && senha!.errors">Senha Inválida</ion-note>
      </ion-item>
      <ion-item>
        <ion-input

          placeholder="e-mail"
          inputmode="email"
          clearInput="true"
          formControlName="email"
          required
        ></ion-input>
        <ion-item *ngIf="!validaEmail" color="danger">
          e-mail já cadastrado
        </ion-item>
      </ion-item>
      <ion-item-group formGroupName="endereco">
        <ion-item-divider>
          <ion-label position="stacked">Endereço</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="stacked" position="stacked">CEP</ion-label>
          <ion-input formControlName="cep" type="text" required (change)="carregaEndereco()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" position="stacked">UF</ion-label>
          <ion-input readonly formControlName="uf" type="text" required maxlength="2" minlength="2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" position="stacked">Cidade</ion-label>
          <ion-input readonly formControlName="localidade" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" position="stacked">bairro</ion-label>
          <ion-input readonly formControlName="bairro" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" position="stacked">Logradouro</ion-label>
          <ion-input readonly formControlName="logradouro" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Número</ion-label>
          <ion-input formControlName="numero" type="number" required></ion-input>
        </ion-item>


      </ion-item-group>
    </ion-list>

    <ion-item>
      <ion-buttons slot="start">
        <ion-button type="submit" color="primary" [disabled]="!statusSenha || cadastroForm.invalid">Salvar</ion-button>
      </ion-buttons>

    </ion-item>
  </form>
</ion-content>
<!--




category
 -->
